# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*~

# Virtual Environment
DAP/
venv/
env/

# Django specific
db.sqlite3

# Directory for user-uploaded media files (should use a separate storage service)
/media/

# This is built on the server, so it should not be tracked in Git.
staticfiles/

# Logs and system files
*.log
.DS_Store
.vscode/

# Sensitive files that should ONLY be on your local machine
# or handled via environment variables on Render.
login info
.env