# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*~

# Virtual Environment
DAP/ # <-- Make sure this matches your virtual env folder name
venv/
env/

# Django specific
db.sqlite3
/media
/static
.DS_Store

#sensitive
login info